{% extends 'base.html' %}
{% block content %}
        <section class="home" id="home"></section>

        <section class="products" id="products">
            <h1 class="heading"> latest <span>products</span> </h1>
            
            <div class="box-container">
                {% for product in products %}
                    <div class="box">
                        <span class="discount">-10%</span>
                        <a href="{% url 'products:product_detail' product.id %}">
                            <div class="image">
                                {% load thumbnail %}
                                {% thumbnail product.image "100x100" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                                <div class="icons">
                                    <a href="#" class="cart-btn">add to cart</a>
                                    <a href="#" class="fas fa-share"></a>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <a href="{% url 'products:product_detail' product.id %}">
                                <h3>{{ product.title }}</h3>
                            </a>
                            <div class="price"> ${{ product.price }} <span>$15.99</span> </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        {% endblock %}
    </body>
</html>