<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FragranCo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
            <a href="{% url 'products:index' %}" class="logo">FrangranCo<span>.</span></a>
            <nav class="navbar">
                <a href="{% url 'products:index' %}">home</a>
                <a href="#home">products</a>
                <a href="#home">most popular</a>
                <a href="#home">contact</a>
            </nav>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
            </div>
        </header>
        <section class="home" id="home"></section>

        <section class="product_detail" id="product_detail">
            <h3> fsfsfssfsf </h3>
            <div class="row">
                <div class="image">
                    <img src="{% static 'img/image1.jpg' %}">
                </div>
                <div class='review'>
                    <h1 class='heading'> review <span> haha </span> </h1>
                    <div class='box-container'>
                        {% for product in bought_products %}
                            <div class='box'>
                                <div class='stars'>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                </div>
                                <p>{{ product.title }}</p>
                                <article>nanananfskfskfsfsf</article>
                                {% load thumbnail %}
                                {% thumbnail product.image "100x100" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                                <div class='user'>
                                    <img src={% static 'img/image1.jpg' %}>
                                    <div class='user-info'>
                                        <h3>craaazy</h3>
                                        <span>happy customer</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>